# PostgreSQL
PG_DSN=postgresql://orders_user:orders_pass@localhost:5432/orders_demo

# NATS Streaming (STAN)
STAN_CLUSTER_ID=test-cluster
STAN_CLIENT_ID=orders-service-1
STAN_NATS_URL=nats://127.0.0.1:4223
STAN_CHANNEL=orders

# HTTP
PORT=8000
